/* Position the image container (needed to position the left and right arrows) */
.container {
    display: block;
    position: relative;
    width: 700px;
    height: 600px;
    margin: auto;
    
}
   

/* Hide the images by default */
.mySlides {
    display: none;
}
    .mySlides img {
        padding: 10px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
    }

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: white;
        color: black;
    }

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

@media screen and (max-width: 750px) {
    .container {
        height: 200px;
        width: 300px;
    }
    .numbertext{
        display:none;
    }
}
