/* Banner styling ends, home content begins*/

.open{
    color: white;
    width: 50%;
    float: left;
    height: 500px;
    vertical-align:middle;
}

/* Slideshow container */
.slideshow-container {
    width: 50%;
    position: relative;
    height: 500px;
    float: right;
    
}

/* Hide the images by default */
.mySlides {
    display: none;
    
}

.facebook{
    color:white;
    width: 100%;
    position: relative;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}







