
.headings{
    text-align:center;
    color:white;
}

.service p{
    width: 90%;
}

/* image positionings and unique sizings for each image*/
.service img {
    display:block;
    padding: 10px;
    margin:auto;
}

.One {
    height: 400px; /*500,500*/
    width: 400px;
}
.Two {
    height: 350px;
    width: 700px;
}
.Three {
    height: 450px;    /*650,500*/
    width: 350px;
}

/* adjust the image sizes for the screen resolution */
@media screen and (max-width: 1050px) {
    .One {
        height: 300px;
        width: 300px;
    }

    .Two {
        height: 225px;
        width: 450px;
    }

    .Three {
        height: 350px;
        width: 250px;
    }
}

.service::after {
    content: "";
    clear: both;
    display: table;
}