.headings,.paragraphs{
	color: white;
    text-align: center;
}

.service img {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid red;
    
}

@media screen and (max-width: 900px) {
    .one{
        height: 200px;
        width: 200px;
    }
}