
/*Alignment and text color for headings and paragraphs*/
.headings,.paragraphs{
	color: white;
    text-align: center;
}

/* image positionings and unique sizings for each image*/
.service img{
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}
.One {
    height: 500px;
    width: 500px;
}
.Two {
    height: 350px;
    width: 700px;
}
.Three {
    height: 650px;
    width: 500px;
}

/* adjust the image sizes for the screen resolution */
@media screen and (max-width: 900px) {
    .One {
        height: 300px;
        width: 300px;
    }

    .Two {
        height: 250px;
        width: 500px;
    }

    .Three {
        height: 350px;
        width: 250px;
    }
}
    