body {
    height: 10%;
    position: fixed;
}

.imgOne {
    grid-row: 1/ span 1;
    grid-column: 1/ span 1;
    position: fixed;
    margin: 10px 10px;

}

.grid{
    display: inline-grid;
    grid-template: repeat(5,15%) / repeat(5,20%);
}
