*{
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.bannerColumn {
    float: left;
    width: 100%;
    padding: 5px;
    height: auto;
}
.TitleEng, .TitleMaori{
    font-family:Georgia;
    font-weight: 700;
    text-align: center;
}
.TitleEng {
    font-family: Georgia;
    text-align: center;
} 

html {
    font-family: "Lucida Sans Unicode", sans-serif;
}




