*{
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.bannerColumn {
    float: left;
    width: 100%;
    padding: 5px;
    height: auto;
}
.TitleEng {
    font-family:Georgia;
    font-size:large;
}
.TitleMaori {
    font-family: Georgia;
    font-size: large;
} 

html {
    font-family: "Lucida Sans Unicode", sans-serif;
}




